{% extends 'base_category.html' %}

{% block category_name %}

	<div class="col-lg-12" style="left: 35%">
		<form class="form-inline my-2 my-lg-0" method="get">
			<input class="form-control" type="text" placeholder="Default input" name='query'>
		     <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
		</form>
	</div>

{% endblock %}

{% block con %}
<div style="padding: 5px;">
	<div class="row">
		{% for i in articles %}
			<div class="col-lg-4" style="padding: 5px;margin-bottom: 50px;">
				<img src="{{ i.img}}" style="width: 100%;height: 100%;">
				<span style="text-align: center;"><div class="secondary" style="text-align: center;"><a href = 'films/{{i.ganre.all.last.pk}}/{{i.pk}}' style = 'color:white;text-decoration: none'>{{i}}</a></div></span>
			</div>

		{% endfor %}
	</div>
</div>
{% endblock %}